<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.reyoung.dao.AttentDetailDao">

    <insert id="addattentdetailist" parameterType="java.util.List" useGeneratedKeys="false">

        INSERT INTO attentdetail(attentname,attentspecial,attentnum,attentplanid) VALUES

        <foreach collection="attentDetails" item="item" index="index" separator=",">

            (
            #{item.attentname},
            #{item.attentspecial},
            #{item.attentnum},
            #{item.attentplanid}
            )

        </foreach>

    </insert>

    <select id="findattentdetailbyattentplan" parameterType="com.reyoung.model.AttentPlan" resultMap="attentdetailMap">

        SELECT * FROM attentdetail WHERE attentplanid=#{attentId};

    </select>

    <delete id="delattentdetailbydetails" parameterType="java.util.List">


        DELETE FROM attentdetail WHERE attentdetailid IN

        <foreach collection="attentDetails" item="item" index="index" separator="," open="(" close=")">

            #{item.attentdetailid}

        </foreach>

    </delete>

    <resultMap id="attentdetailMap" type="com.reyoung.model.AttentDetail">

        <id column="attentdetailid" property="attentdetailid" />
        <result column="attentname" property="attentname" />
        <result column="attentspecial" property="attentspecial" />
        <result column="attentnum" property="attentnum" />
        <result column="attentplanid" property="attentplanid" />


    </resultMap>

</mapper>