<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reyoung.dao.fdao.FdgreeDao">

    <select id="findallfdgree" resultMap="fdgreeMap">

        SELECT * FROM fdgree;

    </select>

    <resultMap id="fdgreeMap" type="com.reyoung.model.filter.Fdgree">

        <id column="fdgreeid" property="fdgreeid" />
        <result column="fdgreename" property="fdgreename" />

    </resultMap>

</mapper>