<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reyoung.dao.FilterPlanDao">

    <insert id="addfilterplan" parameterType="com.reyoung.model.FilterPlan" useGeneratedKeys="true" keyProperty="filterid" keyColumn="filterid">

        INSERT INTO filterplan(userid,filtertotle,applyperson,applyreason,applyabstract,applytime,buyrequires,receive) VALUES(#{user.uid},#{filtertotle},#{applyperson},#{applyreason},#{applyabstract},#{applytime1},#{buyrequires},#{receive});

    </insert>

    <delete id="delfilterplanbypid" parameterType="com.reyoung.model.FilterPlan">

        DELETE FROM filterplan WHERE filterid=#{filterid};

    </delete>

    <select id="findfilterplanbyincident" parameterType="com.reyoung.model.Flowinfos" resultMap="filterplanMap">

        SELECT
        p.filterid,
        p.filtertotle,
        p.applyperson,
        p.applyreason,
        p.applyabstract,
        p.applytime,
        p.buyrequires,
        p.receive,
        u.uid,
        u.username,
        u.`password`,
        u.truename,
        u.position,
        u.department,
        u.signaturepath,
        u.email,
        u.uppastime,
        u.section,
        u.chapter,
        d.deptid,
        d.deptname,
        e.posid,
        e.posname,
        e.approflag,
        e.agreeflag,
        e.backflag,
        s.sectionid,
        s.sectionname
        FROM
        filterplan p,
        `user` u,
        department d,
        position e,
        section s
        WHERE
	    p.userid = u.uid
        AND
        d.deptid = u.department
        AND
        e.posid = u.position
        AND
        s.sectionid = u.section
        AND
        p.filterid=#{incident};

    </select>

    <resultMap id="filterplanMap" type="com.reyoung.model.FilterPlan">

        <id column="filterid" property="filterid" />
        <result column="userid" property="user.uid" />
        <result column="filtertotle" property="filtertotle" />
        <result column="applyperson" property="applyperson" />
        <result column="applyreason" property="applyreason" />
        <result column="applyabstract" property="applyabstract" />
        <result column="applytime" property="applytime1" />
        <result column="buyrequires" property="buyrequires" />
        <result column="receive" property="receive" />

        <association property="user" javaType="com.reyoung.model.User">

            <id column="uid" property="uid" />
            <result column="username" property="username" />
            <result column="password" property="password" />
            <result column="truename" property="truename" />
            <result column="position" property="position.posid" />
            <result column="department" property="department.deptid" />
            <result column="signaturepath" property="signaturepath" />
            <result column="email" property="email" />
            <result column="chapter" property="chapter" />
            <result column="uppastime" property="uppastime" />
            <result column="section" property="section.sectionid" />

            <association property="department" javaType="com.reyoung.model.Department">

                <id column="deptid" property="deptid" />
                <result column="deptname" property="deptname" />

            </association>

            <association property="position" javaType="com.reyoung.model.Position">

                <id column="posid" property="posid"  />
                <result column="posname" property="posname" />
                <result column="approflag" property="approflag" />
                <result column="agreeflag" property="agreeflag" />
                <result column="backflag" property="backflag" />

            </association>

            <association property="section" javaType="com.reyoung.model.Section">

                <id column="sectionid" property="sectionid" />
                <result column="sectionname" property="sectionname" />

            </association>

        </association>

    </resultMap>

</mapper>