<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reyoung.dao.FlowsDao">

    <select id="findallflows" resultMap="flowsMap">

        SELECT * FROM flows;

    </select>

    <resultMap id="flowsMap" type="com.reyoung.model.Flows">

        <id column="flowid" property="flowid" />
        <result column="flowname" property="flowname" />

    </resultMap>

</mapper>