<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reyoung.dao.OtherPlanDao">

    <insert id="addotherplan" parameterType="com.reyoung.model.OtherPlan" useGeneratedKeys="true" keyProperty="otherplanid" keyColumn="otherplanid">

        INSERT INTO otherplan(userid,othertitle,applyperson,applyabstract,receive,applytime,applytime1,buyreson) VALUES (#{user.uid},#{othertitle},#{applyperson},#{applyabstract},#{receive},#{applytime},#{applytime1},#{buyreson});

    </insert>

    <select id="findotherplanbyflowinfos" parameterType="com.reyoung.model.Flowinfos" resultMap="otherpalnMap">

        SELECT
        o.otherplanid,
        o.othertitle,
        o.applyperson,
        o.applyabstract,
        o.receive,
        o.applytime,
        o.applytime1,
        o.buyreson,
        u.uid,
        u.username,
        u.`password`,
        u.truename,
        u.position,
        u.department,
        u.signaturepath,
        u.email,
        u.uppastime,
        u.fdate,
        u.section,
        u.chapter,
        d.deptid,
        d.deptname,
        e.posid,
        e.posname,
        e.approflag,
        e.agreeflag,
        e.backflag,
        s.sectionid,
        s.sectionname
        FROM
        otherplan o,
        user u,
        department d,
        section s,
        position e
        WHERE
        o.userid=u.uid
        AND
        u.section=s.sectionid
        AND
        u.department=d.deptid
        AND
        u.position=e.posid
        AND
        o.otherplanid=#{incident};

    </select>

    <delete id="delotherplanbyoid" parameterType="com.reyoung.model.OtherPlan">

        DELETE FROM otherplan WHERE otherplanid=#{otherplanid};

    </delete>

    <resultMap id="otherpalnMap" type="com.reyoung.model.OtherPlan">

        <id column="otherplanid" property="otherplanid" />
        <result column="othertitle" property="othertitle" />
        <result column="applyperson" property="applyperson" />
        <result column="applyabstract" property="applyabstract" />
        <result column="receive" property="receive" />
        <result column="applytime" property="applytime" />
        <result column="applytime1" property="applytime1" />
        <result column="buyreson" property="buyreson" />
        <result column="userid" property="user.uid" />

        <association property="user" javaType="com.reyoung.model.User">

            <id column="uid" property="uid" />
            <result column="username" property="username" />
            <result column="password" property="password" />
            <result column="truename" property="truename" />
            <result column="position" property="position.posid" />
            <result column="department" property="department.deptid" />
            <result column="signaturepath" property="signaturepath" />
            <result column="email" property="email" />
            <result column="uppastime" property="uppastime" />
            <result column="fdate" property="fdate" />
            <result column="chapter" property="chapter" />
            <result column="section" property="section.sectionid" />

            <association property="department" javaType="com.reyoung.model.Department">

                <id column="deptid" property="deptid" />
                <result column="deptname" property="deptname" />

            </association>

            <association property="position" javaType="com.reyoung.model.Position">

                <id column="posid" property="posid"  />
                <result column="posname" property="posname" />
                <result column="approflag" property="approflag" />
                <result column="agreeflag" property="agreeflag" />
                <result column="backflag" property="backflag" />

            </association>

            <association property="section" javaType="com.reyoung.model.Section">

                <id column="sectionid" property="sectionid" />
                <result column="sectionname" property="sectionname" />

            </association>

        </association>

    </resultMap>

</mapper>

