<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.reyoung.dao.SectionDao">

    <select id="findallsection" resultMap="sectionMap">


        SELECT * FROM section;


    </select>

    <select id="findsectionbyid" parameterType="java.lang.Integer" resultMap="sectionMap">

        SELECT * FROM section WHERE sectionid=#{sectionid};

    </select>

    <resultMap id="sectionMap" type="com.reyoung.model.Section">

        <id column="sectionid" property="sectionid" />
        <result column="sectionname" property="sectionname" />

    </resultMap>

</mapper>